html{
    background-color: #e385e3;
}

.logo {
    background-position: left;
    height: 250px;
    display: flex;
    align-items:center;
    justify-content:left;
    float: left;
}

.fa-calendar{
    color: #E80C56;
    float: right;
}

.fa-calendar:hover{
    color: black;
}